* {
    margin: 0;
    margin-left: 250px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: 400; 
}

.light-text {
    font-weight: 300;
}

.medium-text {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

body main{
    padding-left: 20%;
}