* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-left: 200px;
    align-items: center;
    height: 90px;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700; 
    padding-left: 10%;
}

.sidenav {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
}

.f1-logo{
    padding: 20px 20px;
}
.nav-link {
    padding: 30px 35px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #333;
}

.nav-text {
    font-size: 16px;
}

.nav-link.active {
    background-color: #333;
    border-left: 4px solid #e10600;
    padding-left: 31px; 
}

.nav-link.active .nav-text {
    font-weight: bold;
}

.user-navigation {
    margin-left: auto;
    padding-right: 10%;
}

.btn-outline-light {
    margin-right: 50px; /* Increased margin */
}